@page
@model NotesApp.Pages.Notes.IndexModel
@{
}

<br/>

<div class="container row">
    <div class="col-10">
        <h2>Notes List</h2>
    </div>
    <div class="col-2">
        <a asp-page="Create" class="btn btn-info d-block text-white">Create note</a>
    </div>

    <div class="col-12 border p-2 mt-2">
        <form method="post">
            @if (Model.Notes.Count > 0)
            {
                <table class="table table-striped border-1">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Notes.FirstOrDefault().Title"></label>
                        </th>
                        <th colspan="2">
                            <label asp-for="Notes.FirstOrDefault().Content"></label>
                        </th>
                                                <th colspan="2">
                            <label asp-for="Notes.FirstOrDefault().Category.Name"></label>
                        </th>
                    </tr>
                    @foreach (var note in Model.Notes)
                    {
                        <tr>
                            <td>
                                @note.Title
                            </td>
                            <td>
                                @note.Content
                            </td>
                                                        <td>
                                @note.Category.Name;
                            </td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <a asp-page="Edit" asp-route-id="@note.Id" class="btn btn-success btn-sm me-2">Edit</a>
                                    <button asp-page-handler="Delete" asp-route-id="@note.Id" onclick="return confirm('Are You sure you want to delete')" class="btn btn-danger btn-sm">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No notes available</p>
            }
        </form>
    </div>
</div>
